In [1]:
import os
import json
import numpy as np
import pandas as pd

Group json

In [2]:
def read_json_files(folder_path):
    json_data = []
    
    for filename in os.listdir(folder_path):
        if filename.endswith(".json"):
            file_path = os.path.join(folder_path, filename)
            with open(file_path, "r") as file:
                for line in file:
                    try:
                        line_data = json.loads(line)
                        json_data.append(line_data)
                    except json.JSONDecodeError:
                        print(f"Error parsing JSON line: {line}")
    
    return json_data

In [3]:
#file_path = "Videos"
file_path = "../Example"
json_data = read_json_files(file_path)

In [4]:
full_body = []
half_body = []

In [5]:
for item in json_data:
    predictions = item["predictions"]
    for prediction in predictions:
        keypoints = prediction["keypoints"]
        bbox = prediction["bbox"]
        score = prediction["score"]
        category_id = prediction["category_id"]

        keypoints_arr = np.array(keypoints).reshape(-1, 3)  # Reshape keypoints as (n, 3) array
        c_values = keypoints_arr[:, 2]  # Extract all c values

        if np.any(c_values <= 0):
            if not np.all(c_values<=0):
                keypoints_without_c = keypoints_arr[:, :2]  # Remove c values
                half_body.append(keypoints_without_c.tolist())
        else:
            keypoints_without_c = keypoints_arr[:, :2]  # Remove c values
            full_body.append(keypoints_without_c.tolist())

In [6]:
COCO_Person_Keypoints = [
    "nose", "left_eye", "right_eye", "left_ear", "right_ear", "left_shoulder", "right_shoulder", "left_elbow", "right_elbow", "left_wrist", "right_wrist", "left_hip", "right_hip", "left_knee", "right_knee", "left_ankle", "right_ankle"
]

In [7]:
COCO_Person_Keypoints_XY = []

for item in COCO_Person_Keypoints:
    COCO_Person_Keypoints_XY.append(item + "_x")
    COCO_Person_Keypoints_XY.append(item + "_y")

In [8]:
half_body = np.array(half_body)
full_body = np.array(full_body)

In [9]:
reshape_half_body = half_body.reshape(-1,34)
reshape_full_body = full_body.reshape(-1,34)

In [10]:
df_full_body = pd.DataFrame(reshape_full_body, columns=COCO_Person_Keypoints_XY)
df_half_body = pd.DataFrame(reshape_half_body, columns=COCO_Person_Keypoints_XY)

In [11]:
df_half_body

,nose_x,nose_y,left_eye_x,left_eye_y,right_eye_x,right_eye_y,left_ear_x,left_ear_y,right_ear_x,right_ear_y,...,right_hip_x,right_hip_y,left_knee_x,left_knee_y,right_knee_x,right_knee_y,left_ankle_x,left_ankle_y,right_ankle_x,right_ankle_y
0,893.13,57.00,896.22,51.19,886.70,52.08,0.0,0.00,876.08,55.93,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,969.65,67.97,972.73,62.65,965.34,63.03,979.1,65.69,958.66,67.10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,268.46,57.85,271.38,52.13,259.81,52.66,0.0,0.00,243.19,60.03,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,850.75,95.80,852.26,89.83,842.15,91.26,0.0,0.00,827.15,98.87,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1082.84,84.34,0.00,0.00,1076.41,80.15,0.0,0.00,1062.48,84.17,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5889,1223.60,316.21,0.00,0.00,1206.70,305.03,0.0,0.00,1163.48,326.52,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5890,1223.32,315.72,0.00,0.00,1206.69,304.87,0.0,0.00,1161.94,327.19,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5891,1223.15,316.71,0.00,0.00,1206.75,305.55,0.0,0.00,1164.00,325.03,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5892,1223.10,316.78,0.00,0.00,1207.28,306.28,0.0,0.00,1163.64,324.86,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5893,1101.13,336.25,0.00,0.00,1085.83,326.84,0.0,0.00,1049.82,346.83,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
df_full_body

,nose_x,nose_y,left_eye_x,left_eye_y,right_eye_x,right_eye_y,left_ear_x,left_ear_y,right_ear_x,right_ear_y,...,right_hip_x,right_hip_y,left_knee_x,left_knee_y,right_knee_x,right_knee_y,left_ankle_x,left_ankle_y,right_ankle_x,right_ankle_y
0,737.91,96.16,751.85,85.95,731.09,88.00,780.72,102.05,721.93,104.97,...,702.54,379.80,787.25,531.17,709.26,517.22,782.34,664.73,703.14,663.60
1,734.96,96.34,748.70,86.29,729.24,89.75,781.23,100.11,723.56,106.21,...,707.12,376.48,785.83,532.28,709.26,515.55,782.85,665.76,702.89,663.94
2,740.79,100.52,754.62,89.12,733.30,91.23,782.90,101.21,725.17,105.95,...,707.14,379.83,787.70,535.60,708.20,515.93,783.25,665.76,700.45,658.52
3,747.31,100.55,761.30,89.66,739.26,89.59,783.86,103.95,725.34,102.84,...,707.89,380.08,787.35,532.89,708.25,515.30,782.70,664.66,701.49,660.59
4,753.91,100.50,767.08,91.31,744.28,89.02,784.71,106.44,725.41,102.27,...,709.05,378.56,786.23,531.02,707.75,515.53,782.67,664.66,700.54,658.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,658.30,169.84,670.02,156.29,647.54,156.96,696.36,153.44,636.17,157.51,...,674.51,406.52,809.31,524.24,725.84,527.59,839.61,660.48,713.72,672.84
168,662.34,173.81,674.29,159.23,651.24,161.30,699.77,158.26,639.06,163.55,...,672.33,406.51,807.49,524.19,723.54,530.46,851.52,664.35,721.62,672.94
169,668.46,177.00,679.88,163.25,656.62,165.08,701.42,162.99,641.47,168.17,...,675.09,411.17,808.72,526.28,723.40,535.71,865.65,663.28,722.44,677.19
170,675.80,178.94,686.04,164.78,662.54,166.35,703.25,167.26,643.08,171.73,...,669.76,413.42,806.54,524.52,719.77,533.84,874.45,661.89,725.09,681.19
171,683.61,175.34,692.60,161.32,669.17,163.13,704.61,163.98,644.35,170.38,...,671.52,407.36,806.90,523.15,716.72,534.11,878.15,654.27,723.16,677.08

In [14]:
df_full_body.to_csv('../Example/full_body.csv', index=False)
df_half_body.to_csv('../Example/half_body.csv', index=False)